# Dplyr

###  Mark Klik and Misja Mikkers


## Recapitulation of dplyr

This is a very short recapitulation of `dplyr`. Both `tidyr` and `dplyr` are part of the package `tidyverse`. `ggplot2` is also part of the _tidyversum_ (for a complete list, [see here](https://www.tidyverse.org/packages/)). With `dplyr` you can manipulate dataframes.

## Package `dplyr`

In package `dplyr` there are 5 _verbs_ that are really important:

1. `mutate()` creates new variables based on existing variables 
2. `select()` selects variables (columns). `select` allows you to rename variables as well: 
  `select(new_name = existing_name)`
3. `filter()` selects observations (rows) based on a  logic test)
4. `summarise()` reduces certain groups in a single value
5. `arrange()` changes the order of the observations

If you want guidance or help, you can use google or [this website](http://genomicsclass.github.io/book/pages/dplyr_tutorial.html).

# Packages

We will use `tidyverse` and `readxl`, because we want to read an excel file

Load the packages:

In [1]:
library(tidyverse)
library(readxl)

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
<U+221A> ggplot2 2.2.1     <U+221A> purrr   0.2.4
<U+221A> tibble  1.4.2     <U+221A> dplyr   0.7.4
<U+221A> tidyr   0.8.0     <U+221A> stringr 1.3.0
<U+221A> readr   1.1.1     <U+221A> forcats 0.3.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

## Read the data

Read the file  _ccoecd.xlsx_ in as a dataframe and name the data frame  _df1_



We will use `read_xlsx()` to read the data. Make sure to use the`skip` to skip some unnecassary rows.

In [74]:
df1 <-read_xlsx("../sourcedata/ccoecd.xlsx", skip=7)%>%
na.omit()
df1

   Country         Unit      X__1 X__2      X__3     X__4
1  Austria         US Dollar i    2899.2962 153.8023  820.5769
2  Belgium         US Dollar i    2211.6704 225.9156  721.9522
3  Czech Republic  US Dollar i    1109.8431 292.6393  477.5269
4  Denmark         US Dollar i    2750.2433 221.4558  482.0320
5  Estonia         US Dollar i     996.0566 177.7506  369.5448
6  Finland         US Dollar i    2297.2200 130.4177  563.9423
7  France          US Dollar i    2369.9953 233.6966  888.8856
8  Germany         US Dollar i    2729.9454 244.4723 1024.0020
9  Greece          US Dollar i    1300.4920 100.5609  680.2725
10 Hungary         US Dollar i     942.9646  95.4188  594.3817
11 Ireland         US Dollar i    2667.6039 142.5250  722.6332
12 Italy           US Dollar i    1804.9810 274.6299  633.8814
13 Latvia          US Dollar i     639.0528 145.2369  388.1364
14 Luxembourg      US Dollar i    3548.9259 423.0780  713.6797
15 Netherlands     US Dollar i    2634.6430  94.9263  633.8091
16 Poland          US Dollar i     970.6868 101.6607  376.8771
17 Portugal        US Dollar i    1707.6905 208.4247  506.6390
18 Slovak Republic US Dollar i     999.2717 163.5670  681.8386
19 Slovenia        US Dollar i    1463.6544  90.8302  589.9757
20 Spain           US Dollar i    1788.9734 151.7924  680.6003
21 Sweden          US Dollar i    2672.7215 194.6040  609.1882
22 United Kingdom  US Dollar i    2247.3600  72.2390  589.0580
23 Lithuania       US Dollar i     878.3121  88.9338  534.2849

Now create a data frame *df2* from *df1*:

1. select columns that do not contain "i" and "US Dollar".
2. rename columns X__2 to CRC , X__3 to AS  and = X__4 to MG 

CRC means Curative and rehabilitative care ,  AS means Ancillary services -non-specified by function- and MG meeans Medical goods -non-specified by function-

In [82]:
 df2<- df1 %>%
    select("Country", "X__2","X__3", "X__4") %>% 
  rename(
    CRC = X__2,
    AS = X__3,
      MG=X__4
    )
#select(Country, CRC=X__2,AS=X__3, MG=X__4)
df2

   Country         CRC       AS       MG
1  Austria         2899.2962 153.8023  820.5769
2  Belgium         2211.6704 225.9156  721.9522
3  Czech Republic  1109.8431 292.6393  477.5269
4  Denmark         2750.2433 221.4558  482.0320
5  Estonia          996.0566 177.7506  369.5448
6  Finland         2297.2200 130.4177  563.9423
7  France          2369.9953 233.6966  888.8856
8  Germany         2729.9454 244.4723 1024.0020
9  Greece          1300.4920 100.5609  680.2725
10 Hungary          942.9646  95.4188  594.3817
11 Ireland         2667.6039 142.5250  722.6332
12 Italy           1804.9810 274.6299  633.8814
13 Latvia           639.0528 145.2369  388.1364
14 Luxembourg      3548.9259 423.0780  713.6797
15 Netherlands     2634.6430  94.9263  633.8091
16 Poland           970.6868 101.6607  376.8771
17 Portugal        1707.6905 208.4247  506.6390
18 Slovak Republic  999.2717 163.5670  681.8386
19 Slovenia        1463.6544  90.8302  589.9757
20 Spain           1788.9734 151.7924  680.6003
21 Sweden          2672.7215 194.6040  609.1882
22 United Kingdom  2247.3600  72.2390  589.0580
23 Lithuania        878.3121  88.9338  534.2849


Create in  `df3` a new column _CC_ (Curative Cost) , which is the sum of  _CRC_, _AS_ and _MG_  using `mutate()`.

In [83]:
df3<- df2 %>%
    mutate(CC=df2$CRC+df2$AS+df2$MG)
df3

   Country         CRC       AS       MG        CC
1  Austria         2899.2962 153.8023  820.5769 3873.675
2  Belgium         2211.6704 225.9156  721.9522 3159.538
3  Czech Republic  1109.8431 292.6393  477.5269 1880.009
4  Denmark         2750.2433 221.4558  482.0320 3453.731
5  Estonia          996.0566 177.7506  369.5448 1543.352
6  Finland         2297.2200 130.4177  563.9423 2991.580
7  France          2369.9953 233.6966  888.8856 3492.577
8  Germany         2729.9454 244.4723 1024.0020 3998.420
9  Greece          1300.4920 100.5609  680.2725 2081.325
10 Hungary          942.9646  95.4188  594.3817 1632.765
11 Ireland         2667.6039 142.5250  722.6332 3532.762
12 Italy           1804.9810 274.6299  633.8814 2713.492
13 Latvia           639.0528 145.2369  388.1364 1172.426
14 Luxembourg      3548.9259 423.0780  713.6797 4685.684
15 Netherlands     2634.6430  94.9263  633.8091 3363.378
16 Poland           970.6868 101.6607  376.8771 1449.225
17 Portugal        1707.6905 208.4247  506.6390 2422.754
18 Slovak Republic  999.2717 163.5670  681.8386 1844.677
19 Slovenia        1463.6544  90.8302  589.9757 2144.460
20 Spain           1788.9734 151.7924  680.6003 2621.366
21 Sweden          2672.7215 194.6040  609.1882 3476.514
22 United Kingdom  2247.3600  72.2390  589.0580 2908.657
23 Lithuania        878.3121  88.9338  534.2849 1501.531

Make a a new data frame `df4` based on `df3` which contains only the columns Country and CC

In [77]:
df4<- df3 %>%
    select(Country, CC)
df4

   Country         CC
1  Austria         3873.675
2  Belgium         3159.538
3  Czech Republic  1880.009
4  Denmark         3453.731
5  Estonia         1543.352
6  Finland         2991.580
7  France          3492.577
8  Germany         3998.420
9  Greece          2081.325
10 Hungary         1632.765
11 Ireland         3532.762
12 Italy           2713.492
13 Latvia          1172.426
14 Luxembourg      4685.684
15 Netherlands     3363.378
16 Poland          1449.225
17 Portugal        2422.754
18 Slovak Republic 1844.677
19 Slovenia        2144.460
20 Spain           2621.366
21 Sweden          3476.514
22 United Kingdom  2908.657
23 Lithuania       1501.531

Now we will read in new excel sheet with the name LE from sourcedata and call the dataframe df5.
Skip the unnecessary rows and delete the rows with NA

In [109]:
df5 <- read_xlsx("../sourcedata/LE.xlsx", skip=3) %>%
    select(Country, LE=X__2)%>%
    na.omit()
df5

   Country         LE
1  Austria         81.6
2  Belgium         81.4
3  Czech Republic  78.9
4  Denmark         80.8
5  Estonia         77.2
6  Finland         81.3
7  France          82.8
8  Germany         81.2
9  Greece          81.5
10 Hungary         75.9
11 Ireland         81.4
12 Italy           83.2
13 Latvia          74.3
14 Luxembourg      82.3
15 Netherlands     81.8
16 Poland          77.7
17 Portugal        81.2
18 Slovak Republic 76.9
19 Slovenia        81.2
20 Spain           83.3
21 Sweden          82.3
22 United Kingdom  81.4
23 Lithuania       74.7

We will now merge `df5` and `df4` with the  function `full_join()` using the column _Country_ into `df6`

In [110]:
df6 <- full_join(df5, df4, by="Country")
df6

   Country         LE   CC
1  Austria         81.6 3873.675
2  Belgium         81.4 3159.538
3  Czech Republic  78.9 1880.009
4  Denmark         80.8 3453.731
5  Estonia         77.2 1543.352
6  Finland         81.3 2991.580
7  France          82.8 3492.577
8  Germany         81.2 3998.420
9  Greece          81.5 2081.325
10 Hungary         75.9 1632.765
11 Ireland         81.4 3532.762
12 Italy           83.2 2713.492
13 Latvia          74.3 1172.426
14 Luxembourg      82.3 4685.684
15 Netherlands     81.8 3363.378
16 Poland          77.7 1449.225
17 Portugal        81.2 2422.754
18 Slovak Republic 76.9 1844.677
19 Slovenia        81.2 2144.460
20 Spain           83.3 2621.366
21 Sweden          82.3 3476.514
22 United Kingdom  81.4 2908.657
23 Lithuania       74.7 1501.531

Now you have to create a new dataframe `df7` based on `df6` with a new column Cost_Lifeyear (using `mutate()`, by dividing Curative Cost (CC) by Life expectancy
.

In [126]:
df7<- df6 %>%
    mutate(-Cost_Lifeyear=CC/LE)
df7

ERROR: Error in parse(text = x, srcfile = src): <text>:2:26: unexpected '='
1: df7<- df6 %>%
2:     mutate(-Cost_Lifeyear=
                            ^

Create a new data frame `df8` based on `df7` with the observations sorted based on Cost_Lifeyear using the function `arrange()`. Try to sort with the lowest value first and then with the highest value first.

In [140]:
df8<- df7 %>%
    arrange( Cost_Lifeyear)
df8

   Country         LE   CC       Cost_Lifeyear
1  Latvia          74.3 1172.426 15.77962
2  Poland          77.7 1449.225 18.65154
3  Estonia         77.2 1543.352 19.99161
4  Lithuania       74.7 1501.531 20.10081
5  Hungary         75.9 1632.765 21.51206
6  Czech Republic  78.9 1880.009 23.82775
7  Slovak Republic 76.9 1844.677 23.98800
8  Greece          81.5 2081.325 25.53773
9  Slovenia        81.2 2144.460 26.40961
10 Portugal        81.2 2422.754 29.83687
11 Spain           83.3 2621.366 31.46898
12 Italy           83.2 2713.492 32.61409
13 United Kingdom  81.4 2908.657 35.73289
14 Finland         81.3 2991.580 36.79680
15 Belgium         81.4 3159.538 38.81497
16 Netherlands     81.8 3363.378 41.11710
17 France          82.8 3492.577 42.18089
18 Sweden          82.3 3476.514 42.24196
19 Denmark         80.8 3453.731 42.74420
20 Ireland         81.4 3532.762 43.40003
21 Austria         81.6 3873.675 47.47151
22 Germany         81.2 3998.420 49.24162
23 Luxembourg      82.3 4685.684 56.93419

1. Create a data frame `df9` based on `df8` with columns Country and Cost_Lifeyear
2. Filter Countries with a Cost_Lifyear higher than 19 and lower than 50
3. Create a new variable _Group_ that contains numbers 1 until 5. The (4) cheapest countries will be allocated to group 1, the most expensive countries are allocated to group 5. You can do that with the function `mutate(Groep = rep(1:5, each = 4))` on a correctly sorted data frame.

In [141]:
df9<- df8 %>%
    select(Country, Cost_Lifeyear)%>%
    filter(Cost_Lifeyear>19 & Cost_Lifeyear<50)%>%
    mutate(Group=rep(1:5,each=4))

df9

   Country         Cost_Lifeyear Group
1  Estonia         19.99161      1
2  Lithuania       20.10081      1
3  Hungary         21.51206      1
4  Czech Republic  23.82775      1
5  Slovak Republic 23.98800      2
6  Greece          25.53773      2
7  Slovenia        26.40961      2
8  Portugal        29.83687      2
9  Spain           31.46898      3
10 Italy           32.61409      3
11 United Kingdom  35.73289      3
12 Finland         36.79680      3
13 Belgium         38.81497      4
14 Netherlands     41.11710      4
15 France          42.18089      4
16 Sweden          42.24196      4
17 Denmark         42.74420      5
18 Ireland         43.40003      5
19 Austria         47.47151      5
20 Germany         49.24162      5

As a last assignment in this notebook we will calculate the average cost per life year, using the functions `group_by()` and `summarise()`.

In [142]:
df10<- df9 %>%
    group_by(Group)%>%
    summarise(AV_cost=mean(Cost_Lifeyear))
df10

  Group AV_cost
1 1     21.35806
2 2     26.44306
3 3     34.15319
4 4     41.08873
5 5     45.71434